.header nav{
    margin-top: 10px;
}
.header nav ul{
    display: flex;
}
.header nav ul li a{
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.2s;
}
.header nav ul li a:hover{
    color: white;
    background-color: coral;
}

/* RESPONSIVO */
.header .menu{
    display: none;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    transition: 0.4s;
    border-radius: 40px;
    cursor: pointer;
}
.header nav label{
    display: flex;
    flex-direction: column;
}
/* Criação do traço do meio */
.header .hamburguer{
    background-color: #000;
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    top: 24px;
    left: 13px;
    transition: 0.5s ease-in-out;
}
/* Criação dos outros dois traços */
.header .hamburguer::before,
.header .hamburguer::after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}
/* Traço superior */
.header .hamburguer::before{
    top: -10px;
}
/* Traço inferior */
.header .hamburguer::after{
    bottom: -10px;
}
.header input{
    display: none;
}

.header input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}
.header input:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}
.header input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}

/* Fazer com que fique uma bolinha vermelha ao clicar no menu */
.header input:checked ~ label .menu{
    background-color: red;
    border-radius: 40px;
    cursor: pointer;
}

@media (max-width: 900px){

    .header .menu{
        display: block;
    }
    .header nav ul{
        display: none;
    }

    .header input:checked ~ ul{
        display: block;
    }
    .header nav{
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }
    .header nav ul{
        width: 200px;
        background-color: white;
        padding: 20px;
    }
    .header nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
        
    }
}
